/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.container{
    width: 70%;
    margin: auto;
}

#e-accento::after{
    content:"\00E9";
}

.btn{
    border-radius: 2em;
}

.small{
    padding: 8px 13px;
    font-size: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.big{
    padding: 14px 22px;
    margin: 0 15px;
}

svg{
    display: block;
}

svg:nth-of-type(odd){
    transform: rotateY(180deg);
    transform: scaleY(-1);
}
/* --- /COMMONS --- */



/* +++ HEADER +++ */
header{
    width: 100vw;
    height: 70px;
    line-height: 70px;
    font-weight: 600;
    background-color: #2a5ee7;
}

header .container{
    /* position: fixed;
    left: 15%; */
}

#logo-container, #signin-container{
    width: 15%;
}

#logo-container img{
    vertical-align: middle;
}

header nav{
    width: 70%;
    text-align: center;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
}

header nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover{
    text-decoration: underline;
}

#signin-container{
    text-align: right;
}
/* --- /HEADER --- */



/* +++ MAIN +++ */

/* Jumbotron */
#jumbo{
    height: 530px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: top;
    position: relative;
}

#jumbo-content{
    width: 45%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jumbo-content h1{
    font-size: 55px;
    font-weight:700;
}

#jumbo-content p{
    line-height: 1.6;
    margin-top: 30px;
}

#jumbo-content .btn-container{
    text-align: center;
    margin-top: 40px;
}

#jumbo-content .btn-container a{
    text-decoration: none;
}

.btn.white{
    background-color: white;
    color: black;
}

.btn.black{
    background-color: black;
    color: white;
}

#jumbo-content .btn-container i{
    margin-right: 6px;
    font-size: 15px;
}

/* /Jumbotron */

/* Sezioni */

#sezione1 .container{
    margin-top: 100px;
}

section:nth-of-type(odd){
    background-color: #f3f4f5ff;
}

section img{
    margin-right: 130px;
}

section .text-container{
    display: inline-block;
    width: 28%;
    margin-top: 30px;
}

section h2{
    font-size: 45px;
}

section p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}

/* /Sezioni */


/* --- /MAIN --- */

/* +++ FOOTER +++ */
/* --- /FOOTER --- */

/* +++ DEBUG +++ */
.debug .container{
    background-color: teal;
}

.debug #logo-container{
    height: 70px;
    background-color: pink;
}

.debug nav{
    height: 70px;
    background-color: purple;
}

.debug #signin-container{
    height: 70px;
    background-color: violet;
}


/* --- /DEBUG --- */