/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.container{
    width: 70%;
    margin: auto;
}

.btn{
    border-radius: 30px;
    padding: 8px 13px;
}

#e-accento::after{
    content:"\00E9";
}
/* --- /COMMONS --- */

/* +++ HEADER +++ */

/* Header Top */
header{
    width: 100vw;
}

.header-top{
    height: 70px;
    line-height: 70px;
    background-color: #2a5ee7;
}

#logo-container, #signin-container{
    width: 15%;
}

#logo-container img{
    vertical-align: middle;
}

.header-top nav{
    width: 70%;
    text-align: center;
}

.header-top nav ul{
    list-style-type: none;
}

.header-top nav li{
    display: inline-block;
}

.header-top nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}

.header-top nav a:hover{
    text-decoration: underline;
}

#signin-container{
    text-align: right;
}

#signin-container a{
    font-size: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}
/* /Header Top */

/* Jumbotron */

/* /Jumbotron */


/* --- /HEADER --- */

/* +++ MAIN +++ */
/* --- /MAIN --- */

/* +++ FOOTER +++ */
/* --- /FOOTER --- */

/* +++ DEBUG +++ */
.debug .container{
    background-color: teal;
}

.debug #logo-container{
    height: 70px;
    background-color: pink;
}

.debug nav{
    height: 70px;
    background-color: purple;
}

.debug #signin-container{
    height: 70px;
    background-color: violet;
}
/* --- /DEBUG --- */